## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
spring.datasource.url=jdbc:postgresql://localhost:5432/remotedev_local
spring.datasource.username=remotedev_local
spring.datasource.password=remotedev_local
spring.flyway.locations=classpath:/db/migration,classpath:/dev/db/migration
# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
hibernate.jdbc.lob.non_contextual_creation=true
# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update
management.endpoints.web.exposure.include=*
spring.jpa.open-in-view=true
#Show sqls
spring.jpa.properties.hibernate.show_sql=true
spring.jpa.properties.hibernate.use_sql_comments=true
spring.jpa.properties.hibernate.format_sql=true
#To log values:
spring.jpa.properties.hibernate.type=trace
# Basic configurations
spring.mvc.dispatch-options-request=true
BASE_URL=http://localhost:8080
BASIC_URL_PATH=http://localhost:8080/api/v1/
CLIENT_BASIC_URL_PATH=http://localhost:3000/
