# Default ignored files
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
/dataSources/
/vcs.xml
/misc.xml
/encodings.xml
/MyTemplateWithSpringAndPersistence.iml

/.libraries